# Import

In [9]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# Series'sous

In [10]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
serious_fruits=pd.Series(fruits)
type(serious_fruits)
serious_fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [11]:
serious_fruits.index

RangeIndex(start=0, stop=17, step=1)

In [12]:
serious_fruits.index[serious_fruits.index]

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int64')

In [13]:
serious_fruits[serious_fruits.index]

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [14]:
serious_fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [15]:
serious_fruits.values[serious_fruits.values]

IndexError: arrays used as indices must be of integer (or boolean) type

In [ ]:
serious_fruits.dtype

dtype('O')

In [ ]:
serious_fruits.shape

(17,)

In [ ]:
serious_fruits.name = 'Fruits'
serious_fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
Name: Fruits, dtype: object

In [ ]:
serious_fruits.size

17

In [ ]:
serious_fruits.head(2)

0     kiwi
1    mango
Name: Fruits, dtype: object

In [ ]:
serious_fruits.tail(2)

15    gooseberry
16        papaya
Name: Fruits, dtype: object

In [ ]:
serious_fruits.sample()

3    pineapple
Name: Fruits, dtype: object

In [ ]:
numbers_series=pd.Series(np.arange(5,15,0.5))
numbers_series

0      5.0
1      5.5
2      6.0
3      6.5
4      7.0
5      7.5
6      8.0
7      8.5
8      9.0
9      9.5
10    10.0
11    10.5
12    11.0
13    11.5
14    12.0
15    12.5
16    13.0
17    13.5
18    14.0
19    14.5
dtype: float64

In [ ]:
numbers_series + 1

0      6.0
1      6.5
2      7.0
3      7.5
4      8.0
5      8.5
6      9.0
7      9.5
8     10.0
9     10.5
10    11.0
11    11.5
12    12.0
13    12.5
14    13.0
15    13.5
16    14.0
17    14.5
18    15.0
19    15.5
dtype: float64

In [ ]:
numbers_series == 10

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [ ]:
numbers_series > 10

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool

In [ ]:
num_strings=numbers_series.astype('str')
num_strings

0      5.0
1      5.5
2      6.0
3      6.5
4      7.0
5      7.5
6      8.0
7      8.5
8      9.0
9      9.5
10    10.0
11    10.5
12    11.0
13    11.5
14    12.0
15    12.5
16    13.0
17    13.5
18    14.0
19    14.5
dtype: object

In [ ]:
num_strings=numbers_series.astype('int')
num_strings

0      5
1      5
2      6
3      6
4      7
5      7
6      8
7      8
8      9
9      9
10    10
11    10
12    11
13    11
14    12
15    12
16    13
17    13
18    14
19    14
dtype: int64

In [ ]:
serious_fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: Fruits, dtype: int64

In [ ]:
numbers_series.describe()

count    20.00000
mean      9.75000
std       2.95804
min       5.00000
25%       7.37500
50%       9.75000
75%      12.12500
max      14.50000
dtype: float64

In [ ]:
serious_fruits.describe()

count       17
unique      13
top       kiwi
freq         4
Name: Fruits, dtype: object


count<br />	
sum	Sum<br /> 
mean<br />
median<br />	
min<br />	
max<br />
mode<br />	
abs<br />	
std<br />	
quantile<br />

In [ ]:
{
    'count': numbers_series.count(),
    'sum': numbers_series.sum(),
    'mean': numbers_series.mean()
}

{'count': 20, 'sum': 195.0, 'mean': 9.75}

In [ ]:
numbers_series.nlargest(n=5, keep='first') #keep=first, last, all

19    14.5
18    14.0
17    13.5
16    13.0
15    12.5
dtype: float64

In [ ]:
numbers_series.nsmallest(n=5, keep='all')

0    5.0
1    5.5
2    6.0
3    6.5
4    7.0
dtype: float64

In [ ]:
serious_fruits.sort_values()

14          blackberry
13           blueberry
4           gala apple
15          gooseberry
5     honeycrisp apple
8             honeydew
11                kiwi
10                kiwi
9                 kiwi
0                 kiwi
12               mango
1                mango
16              papaya
3            pineapple
2           strawberry
6               tomato
7           watermelon
Name: Fruits, dtype: object

In [ ]:
serious_fruits.sort_values(ascending=False)

7           watermelon
6               tomato
2           strawberry
3            pineapple
16              papaya
12               mango
1                mango
10                kiwi
11                kiwi
0                 kiwi
9                 kiwi
8             honeydew
5     honeycrisp apple
15          gooseberry
4           gala apple
13           blueberry
14          blackberry
Name: Fruits, dtype: object

In [ ]:
serious_fruits.sort_values(ignore_index=True)

0           blackberry
1            blueberry
2           gala apple
3           gooseberry
4     honeycrisp apple
5             honeydew
6                 kiwi
7                 kiwi
8                 kiwi
9                 kiwi
10               mango
11               mango
12              papaya
13           pineapple
14          strawberry
15              tomato
16          watermelon
Name: Fruits, dtype: object

In [ ]:
serious_fruits.sort_index(ascending=False)

16              papaya
15          gooseberry
14          blackberry
13           blueberry
12               mango
11                kiwi
10                kiwi
9                 kiwi
8             honeydew
7           watermelon
6               tomato
5     honeycrisp apple
4           gala apple
3            pineapple
2           strawberry
1                mango
0                 kiwi
Name: Fruits, dtype: object

# Exercises Part I

## 1

In [ ]:
serious_fruits.size

17

## 2

In [ ]:
serious_fruits.index[serious_fruits.index]

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int64')

## 3

In [ ]:
serious_fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

## 4

In [ ]:
serious_fruits.dtype

dtype('O')

## 5

In [23]:
serious_fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [24]:
serious_fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [25]:
serious_fruits.sample(2)

1     mango
10     kiwi
dtype: object

## 6

In [22]:
serious_fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

## 7

In [26]:
serious_fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

## 8

In [27]:
serious_fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

## 9

In [35]:
serious_fruits.value_counts().nlargest(n=1,keep='all')

kiwi    4
dtype: int64

## 10

In [34]:
serious_fruits.value_counts().nsmallest(n=1,keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64