# Import

In [45]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# Series'sous

In [46]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato",
          "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
fruits = pd.Series(fruits)
type(fruits)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [47]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [48]:
fruits.index[fruits.index]

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int64')

In [49]:
fruits[fruits.index]

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [50]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [51]:
fruits.dtype

dtype('O')

In [52]:
fruits.shape

(17,)

In [53]:
fruits.name = 'Fruits'
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
Name: Fruits, dtype: object

In [54]:
fruits.size

17

In [55]:
fruits.head(2)

0     kiwi
1    mango
Name: Fruits, dtype: object

In [56]:
fruits.tail(2)

15    gooseberry
16        papaya
Name: Fruits, dtype: object

In [57]:
fruits.sample()

1    mango
Name: Fruits, dtype: object

In [58]:
numbers_series = pd.Series(np.arange(15,90, 7.5))
numbers_series

0    15.0
1    22.5
2    30.0
3    37.5
4    45.0
5    52.5
6    60.0
7    67.5
8    75.0
9    82.5
dtype: float64

In [59]:
numbers_series + 1

0    16.0
1    23.5
2    31.0
3    38.5
4    46.0
5    53.5
6    61.0
7    68.5
8    76.0
9    83.5
dtype: float64

In [60]:
numbers_series == 10

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [61]:
numbers_series > 10

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [62]:
num_strings = numbers_series.astype('str')
num_strings

0    15.0
1    22.5
2    30.0
3    37.5
4    45.0
5    52.5
6    60.0
7    67.5
8    75.0
9    82.5
dtype: object

In [63]:
num_strings = numbers_series.astype('int')
num_strings

0    15
1    22
2    30
3    37
4    45
5    52
6    60
7    67
8    75
9    82
dtype: int64

In [64]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: Fruits, dtype: int64

In [65]:
numbers_series.describe()

count    10.000000
mean     48.750000
std      22.707378
min      15.000000
25%      31.875000
50%      48.750000
75%      65.625000
max      82.500000
dtype: float64

In [66]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
Name: Fruits, dtype: object


count<br />	
sum	Sum<br /> 
mean<br />
median<br />	
min<br />	
max<br />
mode<br />	
abs<br />	
std<br />	
quantile<br />

In [67]:
{
    'count': numbers_series.count(),
    'sum': numbers_series.sum(),
    'mean': numbers_series.mean()
}

{'count': 10, 'sum': 487.5, 'mean': 48.75}

In [68]:
numbers_series.nlargest(n=5, keep='first')  # keep=first, last, all

9    82.5
8    75.0
7    67.5
6    60.0
5    52.5
dtype: float64

In [69]:
numbers_series.nsmallest(n=5, keep='all')

0    15.0
1    22.5
2    30.0
3    37.5
4    45.0
dtype: float64

In [70]:
fruits.sort_values()

14          blackberry
13           blueberry
4           gala apple
15          gooseberry
5     honeycrisp apple
8             honeydew
11                kiwi
10                kiwi
9                 kiwi
0                 kiwi
12               mango
1                mango
16              papaya
3            pineapple
2           strawberry
6               tomato
7           watermelon
Name: Fruits, dtype: object

In [71]:
fruits.sort_values(ascending=False)

7           watermelon
6               tomato
2           strawberry
3            pineapple
16              papaya
12               mango
1                mango
10                kiwi
11                kiwi
0                 kiwi
9                 kiwi
8             honeydew
5     honeycrisp apple
15          gooseberry
4           gala apple
13           blueberry
14          blackberry
Name: Fruits, dtype: object

In [72]:
fruits.sort_values(ignore_index=True)

0           blackberry
1            blueberry
2           gala apple
3           gooseberry
4     honeycrisp apple
5             honeydew
6                 kiwi
7                 kiwi
8                 kiwi
9                 kiwi
10               mango
11               mango
12              papaya
13           pineapple
14          strawberry
15              tomato
16          watermelon
Name: Fruits, dtype: object

In [73]:
fruits.sort_index(ascending=False)

16              papaya
15          gooseberry
14          blackberry
13           blueberry
12               mango
11                kiwi
10                kiwi
9                 kiwi
8             honeydew
7           watermelon
6               tomato
5     honeycrisp apple
4           gala apple
3            pineapple
2           strawberry
1                mango
0                 kiwi
Name: Fruits, dtype: object

# Exercises Part I

## 1

In [74]:
fruits.size

17

## 2

In [75]:
fruits.index[fruits.index]

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int64')

## 3

In [76]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

## 4

In [77]:
fruits.dtype

dtype('O')

## 5

In [78]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
Name: Fruits, dtype: object

In [79]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
Name: Fruits, dtype: object

In [80]:
fruits.sample(2)

14    blackberry
8       honeydew
Name: Fruits, dtype: object

## 6

In [81]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
Name: Fruits, dtype: object

## 7

In [82]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: Fruits, dtype: int64

## 8

In [83]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: Fruits, dtype: int64

## 9

In [84]:
fruits.value_counts().nlargest(n=1, keep='all')

kiwi    4
Name: Fruits, dtype: int64

## 10

In [85]:
fruits.value_counts().nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: Fruits, dtype: int64

# Stries'sous

In [86]:
bools = numbers_series > 40
bools

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [87]:
numbers_series[bools]

4    45.0
5    52.5
6    60.0
7    67.5
8    75.0
9    82.5
dtype: float64

In [88]:
numbers_series[numbers_series > 40]

4    45.0
5    52.5
6    60.0
7    67.5
8    75.0
9    82.5
dtype: float64

In [94]:
x=numbers_series
x[(x % 2 == 0) | (x > 60)]

2    30.0
6    60.0
7    67.5
8    75.0
9    82.5
dtype: float64

In [95]:
is_even = x % 2 == 0
greater_than_seven = x > 7

x[is_even & greater_than_seven]

2    30.0
6    60.0
dtype: float64

In [99]:
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
Name: Fruits, dtype: object

In [101]:
fruits.str.lower()

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
Name: Fruits, dtype: object

In [102]:
fruits.str.lower().str.replace('e', '_')

0                 kiwi
1                mango
2           strawb_rry
3            pin_appl_
4           gala appl_
5     hon_ycrisp appl_
6               tomato
7           wat_rm_lon
8             hon_yd_w
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blu_b_rry
14          blackb_rry
15          goos_b_rry
16              papaya
Name: Fruits, dtype: object

In [104]:
fruits[fruits.str.lower().str.startswith('h')]

5    honeycrisp apple
8            honeydew
Name: Fruits, dtype: object

In [105]:
(numbers_series < 0).any()

False

In [107]:
(numbers_series > 0).all()

True

In [117]:
fruits.isin(['kiwi'])

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
12    False
13    False
14    False
15    False
16    False
Name: Fruits, dtype: bool

In [119]:
fruits[fruits.isin(['kiwi'])]

0     kiwi
9     kiwi
10    kiwi
11    kiwi
Name: Fruits, dtype: object

In [120]:
def even_or_odd(n):
    '''
    A function that takes a number and returns a string indicating whether the passed number is even or odd.

    >>> even_or_odd(3)
    'odd'
    >>> even_or_odd(2)
    'even'
    '''
    if n % 2 == 0:
        return 'even'
    else:
        return 'odd'

numbers_series.apply(even_or_odd)

0     odd
1     odd
2    even
3     odd
4     odd
5     odd
6    even
7     odd
8     odd
9     odd
dtype: object

functions on arrays

In [123]:
numbers_series.apply(lambda n: 'even' if n % 2 == 0 else 'odd')

0     odd
1     odd
2    even
3     odd
4     odd
5     odd
6    even
7     odd
8     odd
9     odd
dtype: object

# Exercises Part II

## 1

In [135]:
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
Name: Fruits, dtype: object

## 2

In [143]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
Name: Fruits, dtype: int64

## 3

In [155]:
fruits.apply(lambda n: sum([1 for x in n if x in list('aeiou')]))

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
Name: Fruits, dtype: int64

## 4

In [160]:
fruits[fruits.apply(lambda n: sum([1 for x in n])).nlargest(n=1,keep='all')]

16    papaya
Name: Fruits, dtype: object

## 5